<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Saxon-HE" version="9.9.1.5" targetFramework="net46" allowedVersions="[9.9.1.5,10)" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net46" />
</packages>