
.field-validation-error {
   color: #ff0000;
   display: block;
   margin-bottom: .5em;
   font-size: 13px;
}

.field-validation-valid {
   display: none;
}

.input-validation-error {
   background-color: #ffeeee;
}

.validation-summary-errors {
   font-weight: bold;
   color: #ff0000;
}

.validation-summary-valid {
   display: none;
}

@media (min-width: 768px) {

   form {
      max-width: 66.6%;
   }

   .row form {
      max-width: initial;
   }
}
